# ESP32-P4 Function EV Board defaults
# Flash: 16MB GD25Q128ES1G, mode DIO, 80MHz
CONFIG_IDF_TARGET="esp32p4"
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y

# PSRAM: 4MB octal, use external memory for large allocations
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_HEX=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=16384
CONFIG_SPIRAM_ALLOW_STACK_EXTERNAL_MEMORY=y
CONFIG_SPIRAM_SPEED_20M=y
# CONFIG_SPIRAM_SPEED_200M is not set

# ESP32-P4 Function EV Board + OV01C1B over MIPI-CSI
CONFIG_EXAMPLE_SELECT_ESP32P4_FUNCTION_EV_BOARD_V1_5=y
CONFIG_EXAMPLE_ENABLE_MIPI_CSI_CAM_SENSOR=y
CONFIG_EXAMPLE_SCCB_I2C_INIT_BY_APP=y
CONFIG_EXAMPLE_SCCB_I2C_PORT_INIT_BY_APP=0
CONFIG_EXAMPLE_MIPI_CSI_SCCB_I2C_FREQ=100000
CONFIG_CAMERA_OV01C1B=y
CONFIG_CAMERA_OV01C1B_AUTO_DETECT_MIPI_INTERFACE_SENSOR=y
CONFIG_CAMERA_OV01C1B_MIPI_RAW10_1024X1024_50FPS=y
CONFIG_CAMERA_OV01C1B_MIPI_DEFAULT_FMT_RAW10_1024X1024_50FPS=y
CONFIG_CAMERA_OV01C1B_MIPI_CLK_MHZ=1434
# CONFIG_CAMERA_OV01C1B_KEEP_STREAM_ON is not set
CONFIG_CAMERA_OV01C1B_BAYER_BGGR=y
# CONFIG_CAMERA_SC2336 is not set

# Video pipeline: OV01C1B RAW -> ISP RGB565 -> hardware JPEG -> USB Video Class
CONFIG_ESP_VIDEO_ENABLE_MIPI_CSI_VIDEO_DEVICE=y
CONFIG_ESP_VIDEO_ENABLE_HW_H264_VIDEO_DEVICE=y
CONFIG_ESP_VIDEO_ENABLE_HW_JPEG_ENC_VIDEO_DEVICE=y
CONFIG_FORMAT_MJPEG_CAM1=y
# CONFIG_FORMAT_H264_CAM1 is not set
CONFIG_UVC_MODE_BULK_CAM1=y
# CONFIG_UVC_MODE_ISOC_CAM1 is not set
# CONFIG_FRAMESIZE_VGA is not set
CONFIG_FRAMESIZE_SVGA=y
# CONFIG_FRAMESIZE_HD is not set
# CONFIG_FRAMESIZE_FHD is not set
CONFIG_UVC_CAM1_FRAMERATE=2
CONFIG_UVC_CAM1_FRAMESIZE_WIDTH=1024
CONFIG_UVC_CAM1_FRAMESIZE_HEIGT=1024
# CONFIG_UVC_CAM1_MULTI_FRAMESIZE is not set
CONFIG_EXAMPLE_JPEG_COMPRESSION_QUALITY=30
# CONFIG_P4SCAN_UVC_TEST_PATTERN is not set
CONFIG_EXAMPLE_H264_BITRATE=1000000
CONFIG_EXAMPLE_H264_I_PERIOD=120
CONFIG_EXAMPLE_H264_MIN_QP=25
CONFIG_EXAMPLE_H264_MAX_QP=26

# Required by esp_video on ESP32-P4.
CONFIG_IDF_EXPERIMENTAL_FEATURES=y
CONFIG_EXAMPLE_DISABLE_USB_MSC_STORAGE=y
